@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
}

@media (max-width: 760px) {
  body {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

main {
  height: 100vh;
  display: grid;
  grid-template-columns: 100px 1fr 410px;
  grid-template-rows: 100vh 100vh 100vh;
  font-family: "Poppins", sans-serif;
}
@media (max-width: 760px) {
  main {
    grid-template-columns: 350px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-template-rows: 35px 700px 725px;
    height: 1650px;
    grid-gap: 35px;
    margin-top: 30px;
  }
}
main h2 {
  font-size: 26px;
  font-weight: 700;
  line-height: 39px;
  color: #353535;
}
@media (max-width: 760px) {
  main h2 {
    font-size: 23px;
  }
}
main h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  color: #353535;
}
@media (max-width: 760px) {
  main h3 {
    font-size: 15px;
  }
}
main h4 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
@media (max-width: 760px) {
  main h4 {
    font-size: 13px;
  }
}

.col1 {
  width: 100%;
  height: 100%;
  background-color: #F6F6F6;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 80px);
  position: relative;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
@media (max-width: 760px) {
  .col1 {
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .col1 .col1__icon {
    visibility: hidden;
    display: none;
  }
  .col1 .col1__select {
    visibility: hidden;
    display: none;
  }
  .col1 .col1__srch {
    visibility: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.col1__srch {
  visibility: hidden;
  display: none;
  width: 30px;
}
.col1__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
@media (max-width: 760px) {
  .col1__menu {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.col1__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.col1__select {
  position: absolute;
  top: 118px;
  left: 95px;
  cursor: pointer;
}

.col2 {
  display: grid;
  justify-items: center;
}
@media (max-width: 760px) {
  .col2 .col2__line {
    visibility: hidden;
    display: none;
  }
}
.col2__container {
  width: 820px;
  margin: 35px;
}
@media (max-width: 760px) {
  .col2__container {
    margin: 0;
    width: 350px;
  }
}
.col2__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F6F6F6;
  border-radius: 7px;
  margin-bottom: 40px;
}
.col2__search img {
  padding: 13px 23px;
}
.col2__search h4 {
  color: #A6A6A6;
  font-weight: 400;
}
@media (max-width: 760px) {
  .col2__search {
    display: none;
    background-color: none;
    border-radius: none;
    margin-bottom: none;
  }
  .col2__search h4 {
    visibility: hidden;
    display: none;
  }
}
.col2__title {
  margin-bottom: 25px;
}
.col2__title h4 {
  color: #A6A6A6;
  font-weight: 600;
}
.col2__punct {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 117px;
  margin-bottom: 16px;
}
@media (max-width: 760px) {
  .col2__punct {
    width: 350px;
    grid-gap: 37px;
    margin-bottom: 30px;
  }
  .col2__punct h3 {
    visibility: hidden;
    display: none;
  }
}
.col2__line {
  width: 100%;
  height: 2px;
  background-color: #f1f1f1;
  position: relative;
  margin-bottom: 35px;
}
.col2__line img {
  position: absolute;
  top: -1px;
}
.col2__prdct {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
@media (max-width: 760px) {
  .col2__prdct {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 14px;
    max-width: 100%;
  }
}

.punct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}
@media (max-width: 760px) {
  .punct {
    width: 51px;
    height: 51px;
    border-radius: 13px;
    background-color: #ACACAC;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.punct img {
  margin-right: 15px;
}
@media (max-width: 760px) {
  .punct img {
    width: 25px;
    height: 25px;
    margin: 0;
  }
}
@media (max-width: 760px) {
  .punct__fp {
    visibility: hidden;
    display: none;
  }
}
.punct__wp {
  visibility: hidden;
  display: none;
}
@media (max-width: 760px) {
  .punct__wp {
    visibility: visible;
    display: block;
  }
}
.punct__selected h3 {
  color: #FF4E4E;
}
@media (max-width: 760px) {
  .punct__selected {
    width: 25px;
    height: 25px;
    margin: 0;
    width: 51px;
    height: 51px;
    border-radius: 13px;
    background-color: #FF4E4E;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.prdct {
  width: 260px;
  height: 260px;
  -webkit-box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  position: relative;
  overflow: hidden;
}
@media (max-width: 760px) {
  .prdct {
    width: 156px;
    height: 252px;
  }
}
.prdct__img {
  height: 163px;
}
@media (max-width: 760px) {
  .prdct__img {
    width: 156px;
    height: 157px;
    position: relative;
  }
  .prdct__img img {
    position: absolute;
    left: -43px;
  }
}
.prdct__dscrptn {
  padding: 12px;
}
.prdct__dscrptn h4 {
  color: #FF4E4E;
}
.prdct__name h4 {
  color: #616161;
  font-weight: 500px;
}
.prdct__btn {
  position: absolute;
  left: 205px;
  top: 205px;
  width: 40px;
  height: 40px;
  border: 1px solid #D2D2D2;
  border-radius: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
@media (max-width: 760px) {
  .prdct__btn {
    left: 105px;
    top: 200px;
  }
}
.prdct__btn-selected {
  background-color: #353535;
}

.col3 {
  background-color: #F6F6F6;
  padding: 33px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 760px) {
  .col3 {
    background-color: white;
    width: 350px;
    padding: 0;
  }
  .col3 h2 {
    visibility: hidden;
    display: none;
  }
}
.col3 h2 {
  margin-bottom: 25px;
}
.col3 h3 {
  font-size: 20px;
  line-height: 30px;
  color: #353535;
}
.col3 h4 {
  color: #A6A6A6;
  font-weight: 400;
}
.col3__chckt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.col3__chckt h3 {
  margin-bottom: 2px;
}
.col3__wrnng {
  width: 100%;
  height: 90px;
  background: rgba(243, 229, 180, 0.5);
  border: 1px solid #FFF5D2;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  margin-bottom: 54px;
}
.col3__wrnng img {
  margin-right: 13px;
}
.col3__wrnng p {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #DFAF00;
  width: 300px;
  height: 49px;
}
.col3__dataBlock {
  margin-bottom: 15px;
}
.col3__dataBlock h4 {
  font-weight: 400;
}
.col3__btn {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #5C5C5C;
  border-radius: 50px;
}
.col3__btn a {
  text-decoration: none;
  color: white;
}